<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code update</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>CCFR System</h1>
    <hr/>
    <h2>Dear {{ name }}, your account details are listed below:</h2>
    <h3>Account number: <code>{{ num }}</code></h3>
    <h3>Verification code: <code>{{ code }}</code></h3>
</body>
</html>